canvas{
    background:#9B00DF;
}
section{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(sky.jpeg);
    color: white;
}
h1{
color:#9B00DF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
